# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build Status

on: push

jobs:
  build:
    name: build test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install -r requirements.txt
    - name: Test PEP8 convention with flake8
      run: |
        python -m flake8 playscii
        git config --local user.email ${{ secrets.GH_MAIL }}
        git config --local user.name ${{ secrets.GH_USER }}
        BRANCH_NAME="test/$(git branch | cut -d '/' -f 2)"
        git checkout -b $BRANCH_NAME
        git remote -v
        git push --set-upstream origin $BRANCH_NAME
    - name: Test with unittest
      run: |
        python -m unittest
